* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: #2374e1;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #eee;
    --main-bg-color: #18191a;
    --secondary-bg-color: #222;
    --main-text-color: #eee;
    --text-reverse-color: #111;
    --modal-bg-color: #222;
    --form-input-text: #f8f8f8;
    --form-border-color: 1px solid #333;
    --btn-text: #c4c4c4;
    --btn-bg: #c4c4c44b;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #111;
    --main-bg-color: #f8f8f8;
    --secondary-bg-color: #ffffff;
    --main-text-color: #111;
    --text-reverse-color: #eee;
    --modal-bg-color: #f8f8f8;
    --form-input-text: #111;
    --form-border-color: 1px solid rgb(221, 223, 226);
    --btn-text: #111;
    --btn-bg: #c4c4c480;
  }
}

body {
  margin: 0;
  background: var(--main-bg-color);
  font-family: 'Oxygen', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style: none;
}

a:not(:hover) {
  text-decoration: none;
}

button,
input,
textarea {
  border: 0;
  font-family: inherit;
}

button {
  cursor: pointer;
  font-weight: bold;
  background: transparent;
}

main {
  padding: 1rem;
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 600px) {
  main {
    max-width: 600px;
  }
}
