* {
  margin: 0;
  padding: 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #eee;
    --main-bg-color: #101112;
    --main-text-color: #eee;
    --text-reverse-color: #111;
    --modal-bg-color: #222;
    --form-input-text: #f8f8f8;
    --form-border-color: 1px solid #333;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #111;
    --main-bg-color: #f8f8f8;
    --main-text-color: #111;
    --text-reverse-color: #eee;
    --modal-bg-color: #f8f8f8;
    --form-input-text: #111;
    --form-border-color: 1px solid rgb(221, 223, 226);
  }
}

body {
  margin: 0;
  background: var(--main-bg-color);
  font-family: 'Oxygen', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:not(:hover) {
  text-decoration: none;
}

button,
input {
  border: 0;
  font-family: inherit;
}

button {
  cursor: pointer;
}
