* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Oxygen', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:not(:hover) {
  text-decoration: none;
}

button,
input {
  border: 0;
  font-family: inherit;
}
