.comment {
  margin-top: 1rem;
  display: flex;
}

.comment a {
  color: var(--main-text-color);
}

.comment .comment__profilePicture {
  margin-right: 0.5rem;
}

.comment__author {
  font-size: 12px;
  font-weight: bold;
  display: block;
  margin-bottom: 0.2rem;
}

.comment__body {
  color: var(--main-text-color);
  font-size: 14px;
}
