@import url('./base.css');
@import url('./views/landing-page.css');
@import url('./views/404.css');
@import url('./views/login.css');
@import url('./views/signup.css');
@import url('./views/profile.css');
@import url('./views/sidebar.css');
@import url('./post.css');
@import url('./comment.css');
@import url('./friendlist.css');

.landing,
.login,
.signup {
  min-height: 100vh;
  background-image: url('../../public/images/landing_bg_mobile.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@media (min-width: 420px) {
  .landing,
  .login,
  .signup {
    background-image: url('../../public/images/landing_bg_desktop.jpg');
    background-position: bottom;
  }
}

.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 0.5rem 1.5rem;
  font-family: var(--font-logo);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--header-bg);
  border-bottom: 1px solid var(--blue);
}

.header__menu {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.drawer-btn {
  padding-top: 8px;
  fill: var(--main-text-color);
}

@media (min-width: 1200px) {
  .drawer-btn {
    display: none;
  }
}

.header__brand {
  color: var(--blue);
  font-weight: bold;
  font-size: 24px;
  text-decoration: none;
}

.header nav {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header nav a {
  color: var(--main-text-color);
}

.header__currentUser {
  font-weight: bold;
  border-radius: 2rem;
  padding: 0.3rem 0.6rem;
  text-decoration: none;
  display: flex;
  gap: 8px;
}

.header__currentUser:hover {
  background-color: var(--gray-hover);
}

@media (max-width: 500px) {
  .header__currentUser span {
    display: none;
  }
}

.header__logoutBtn {
  margin: 0 0 0.4rem;
  padding: 0.2rem 0.5rem 0.3rem;
  border-radius: 4px;
  background-color: var(--red);
  color: #f0f0f0;
  transition: 0.15s ease-out;
}

.header__logoutBtn:hover {
  background-color: var(--red-on-hover);
}

.friendRequests__container {
  position: relative;
}

.header .svg-friends {
  fill: var(--main-text-color);
  transition: 0.1s ease-out;
}

.friendRequests__container button:hover .svg-friends {
  fill: var(--blue);
}

.friendRequests {
  position: fixed;
  background-color: var(--header-bg);
  padding: 1rem 1.5rem;
  top: 3.3rem;
  right: 0;
  width: 400px;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

@media (max-width: 400px) {
  .friendRequests {
    width: 95vw;
    right: 50%;
    transform: translateX(50%);
  }
}

.friendRequests > p {
  font-weight: bold;
}

.friendRequests li {
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
}

.friendRequest__info {
  display: flex;
  gap: 0.5rem;
}

.friendRequest__btn {
  padding: 0.2rem 0.4rem;
  transition: background 0.15s ease-out;
  border-radius: 4px;
  color: var(--main-text-color);
}

.btn-confirm:hover {
  background-color: var(--blue);
}

.btn-delete:hover {
  background-color: var(--red-on-hover);
}

.home main {
  width: 100%;
}

.new-post__form {
  display: flex;
  gap: 0.5rem;
  margin: 1rem 0 1.5rem;
}

.new-post__profilePicture {
  background-color: #555;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  overflow: hidden;
}

.new-post__profilePicture img {
  width: 100%;
  height: 100%;
}

.new-post__link {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  border-radius: 2rem;
  background-color: #c4c4c425;
  color: var(--main-text-color);
  flex-grow: 1;
  text-decoration: none;
  font-size: 14px;
}

.loading-icon {
  margin: 2rem auto;
  animation: spin 0.7s infinite linear;
  margin-left: 50%;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.columns {
  display: flex;
  justify-content: space-between;
  flex-basis: 30vw;
}

.profilePicture {
  background-color: #555;
  border-radius: 100%;
  width: 140px;
  height: 140px;
  position: relative;
}

.profilePicture img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.profilePicture--small {
  width: 28px;
  height: 28px;
}

.profilePicture__updateBtn {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: var(--blue);
  padding: 0.3rem;
  fill: #fff;
  border-radius: 2rem;
}

.profilePicture__updateBtn:hover::after {
  position: absolute;
  content: 'Update picture';
  padding: 0.2rem 0.5rem 0.3rem;
  border-radius: 4px;
  width: max-content;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  border: 1px solid #555;
}

.profilePicture__updateBtn svg {
  display: block;
}

.pictureForm {
  margin-top: 1rem;
  width: 70%;
}

.pictureForm__input {
  margin-bottom: 1.5rem;
  position: relative;
}

.pictureForm__input input {
  width: 100%;
  padding: 0.5rem 0.5rem;
  border-radius: 1rem;
}

.pictureForm__input p {
  position: absolute;
  top: 2.3rem;
  left: 0;
  color: crimson;
  font-weight: bold;
  font-size: 12px;
}

.pictureForm__btnContainer {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.pictureForm button {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  color: #f4f4f4;
  transition: background 0.15s ease-out;
}

.pictureForm .update-btn {
  background-color: var(--blue);
}
.pictureForm .update-btn:hover {
  background-color: var(--blue-on-hover);
}

.pictureForm .cancel-btn {
  background-color: var(--red);
}

.pictureForm .cancel-btn:hover {
  background-color: var(--red-on-hover);
}
