@import url('./base.css');

@media (prefers-color-scheme: dark) {
  :root {
    color: #eee;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #111;
  }
}

.landing {
  height: 100vh;
  background-image: url('../../public/images/landing_bg_mobile.png');
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-width: 420px) {
  .landing {
    background-image: url('../../public/images/landing_bg_desktop.jpg');
    background-position: bottom;
  }
}

.landing__header {
  padding: 0.5rem 1.5rem 0;
}

.landing__brand {
  color: #181818;
  font-weight: bold;
  font-size: 24px;
}

.landing__main {
  padding: 0 1.5rem;
}

.landing__headline {
  color: #111;
  margin-top: 10rem;
  margin-bottom: 1.5rem;
}

.landing__cta {
  background: #2275c1;
  color: #f8f8f8;
  font-size: 16px;
  font-weight: bold;
  padding: 0.5rem 2.3rem;
  border-radius: 4px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}
