.posts {
  margin: 1rem auto 0;
}

.post__viewer {
  padding: 0 1rem;
}

.post {
  background-color: var(--secondary-bg-color);
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  margin: 1rem 0;
}

.post__header {
  display: flex;
}

.post__profilePicture {
  background: #555;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  overflow: hidden;
}

.post__profilePicture img {
  width: 100%;
  height: 100%;
}

.post__info {
  display: flex;
  flex-direction: column;
  margin-left: 0.6rem;
}

.post__author {
  font-weight: bold;
  margin-bottom: 0.2rem;
}

.post__date {
  opacity: 0.6;
  font-size: 11px;
}

.post__body {
  margin-top: 1rem;
}

.hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.post__counters--like {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 1rem;
  font-size: 12px;
}

.post__counters--like svg {
  background: #1777f2;
  padding: 4px 4px 4px;
  border-radius: 100%;
  fill: #fff;
  stroke: none;
  transform: scale(0.8);
}

.post__btnWrapper {
  margin-top: 1rem;
}

.post__btnContainer {
  display: flex;
  gap: 0.5rem;
}

.post__btn {
  flex-grow: 1;
  margin: 4px 0;
  padding: 0.5rem 0;
  border-radius: 4px;
  color: var(--btn-text);
  font-size: 14px;
  transition: background-color 0.3s;
}

.post__btn:hover {
  background-color: var(--btn-bg);
}

.post__btn svg {
  stroke: var(--btn-text);
  vertical-align: bottom;
  margin-right: 0.2rem;
  width: 16px;
  height: 16px;
}

.post__btn--likeActive {
  color: #1777f2;
}

.post__btn--likeActive svg {
  stroke: #1777f2;
}

.post__commentFieldContainer {
  display: flex;
  align-items: top;
  margin: 0.8rem 0 0;
  gap: 0.5rem;
  height: auto;
}

.comment__profilePicture {
  background: #555;
  border-radius: 100%;
  min-width: 2.2rem;
  max-width: 2.2rem;
  min-height: 2.2rem;
  max-height: 2.2rem;
  overflow: hidden;
}

.comment__profilePicture img {
  width: 100%;
  height: 100%;
}

.comment__textareaContainer {
  position: relative;
  display: flex;
  width: 100%;
}

.comment__textarea {
  height: 2.2rem;
  padding: 0.6rem 1rem;
  border-radius: 1rem;
  background: #c4c4c425;
  color: var(--main-text-color);
  flex-grow: 1;
  font-size: 12px;
}

.comment__textarea:not(:placeholder-shown) {
  padding-bottom: 1.5rem;
}

.comment__sendBtn {
  position: absolute;
  right: 0.8rem;
  bottom: 0.3rem;
  opacity: 0.6;
  font-size: 12px;
  color: var(--main-text-color);
  font-weight: normal;
}

.post-form {
  margin: 2rem auto 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

@media (min-width: 600px) {
  .post-form {
    max-width: 600px;
  }
}

.post-form h1 {
  text-align: center;
  font-size: 20px;
}

.post-form__body {
  margin-top: 1rem;
  border-radius: 4px;
  min-height: 200px;
  background: #c4c4c425;
  border: 0;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  color: var(--main-text-color);
  font-family: 'Oxygen', sans-serif;
  font-size: 18px;
  padding: 0.5rem 1rem;
  min-width: 100%;
  max-width: 100%;
}

.post-form__submitBtn {
  background-color: #2374e1;
  color: #fafafa;
  padding: 0.5rem;
  margin-top: 1rem;
  border-radius: 4px;
  font-size: 16px;
  transition: 0.15s ease-out;
}

.post-form__submitBtn:hover,
.post-form__submitBtn:disabled {
  background-color: #333;
  opacity: 0.8;
}

.view-comments {
  font-size: 14px;
  color: var(--blue);
  display: block;
  margin-top: 0.5rem;
}
