.profile {
  position: relative;
}

.profile main {
  margin: 0 auto;
}

.profileCard {
  background-color: var(--secondary-bg-color);
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  box-shadow: 0px 1px 2px 0px var(--blue);
  /* margin: 0 0 1rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profileCard h1 {
  margin-top: 0.6rem;
}

.profileCard div:first-child {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profileCard__links {
  display: flex;
}

.profileCard__links a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: var(--main-text-color);
  text-decoration: none;
  padding: 1rem;
  font-weight: bold;
}

.profileCard__links a:hover {
  background: var(--main-bg-color);
  opacity: 0.9;
  border-radius: 4px;
}

.profileCard__links a span:first-child {
  color: var(--blue);
}

.profileCard__links svg {
  stroke: var(--blue);
  stroke-width: 2px;
}

.profileCard__requestBtn {
  background: var(--blue);
  border-radius: 4px;
  padding: 0.5rem 1rem;
  color: var(--main-text-color);
  font-size: 14px;
  transition: background 0.15s ease-out;
}

.profileCard__requestBtn:hover {
  background: var(--blue-on-hover);
}
