#sidebar {
  position: fixed;
  background: var(--main-bg-color);
  border-right: 1px solid var(--gray-hover);
  z-index: 1;
  top: 3.4rem;
  padding: 1rem;
  width: 100%;
  max-width: 300px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  transition: 0.15s ease-out;
}

@media (min-width: 1200px) {
  .hidden {
    transform: translateX(0) !important;
  }
}

#sidebar a {
  display: flex;
  align-items: center;
  color: var(--main-text-color);
  margin: 0.2rem 0;
  padding: 0.6rem 0.7rem;
  border-radius: 8px;
  text-decoration: none;
  transition: 0.1s ease-out;
  font-weight: bold;
  font-family: var(--font-logo);
}

#sidebar a:hover {
  background: var(--gray-hover);
}

#sidebar p {
  margin-left: 0.7rem;
}

.sidebar__user {
  display: flex;
  align-items: center;
}

.sidebar__user .profilePicture {
  width: 24px;
  height: 24px;
}

#sidebar svg {
  fill: var(--blue);
}

.hidden {
  transform: translateX(-100%);
  position: relative;
}

.hidden::after {
  display: none;
}
