.signup {
  padding-bottom: 5rem;
}

.signup .header__brand {
  color: var(--text-reverse-color);
}

.signup__form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 1rem;
  padding: 1.5rem;
  background: var(--modal-bg-color);
  box-shadow: 0 1px 4px #000;
  border-radius: 4px;
}

@media (min-width: 450px) {
  .signup__form {
    margin: 1rem auto;
  }
}

.signup__form > legend {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 1rem;
}

.signup__form input,
.signup__form select {
  background-color: transparent;
  color: var(--form-input-text);
  border: var(--form-border-color);
  margin: 0.2rem 0;
  font-size: 14px;
  border-radius: 4px;
  padding: 0.8rem 0.8rem;
  width: 100%;
}

.signup__location div {
  display: flex;
  gap: 0.4rem;
}

.signup__fullName,
.signup__location {
  display: flex;
  flex-direction: column;
}

.signup__fullName div:first-child {
  display: flex;
  gap: 0.4rem;
}

.signup__birthdate {
  margin: 0.2rem 0;
  position: relative;
  display: flex;
  gap: 0.4rem;
}

.signup__birthdate legend {
  font-size: 14px;
  color: #969696;
  opacity: 0.8;
  font-weight: normal;
  margin-left: 0.8rem;
  margin-bottom: 0.2rem;
}

.signup__birthdate option {
  background: var(--main-bg-color);
}

.signup__error {
  margin: 0.5rem 0;
  font-size: 12px;
  color: rgb(231, 58, 66);
}

.signup hr {
  margin: 1rem 0;
  opacity: 0.5;
}

.signup__submitBtn {
  background-color: var(--green);
  color: #f4f4f4;
  border-radius: 4px;
  margin-top: 0.4rem;
  padding: 0.6rem 0;
  font-size: 18px;
  transition: background-color 0.15s ease-out;
}

.signup__submitBtn:hover {
  background-color: var(--green-on-hover);
}

.signup__submitBtn:focus {
  outline: 2px solid var(--green-on-focus);
}

.signup__error {
  color: rgb(231, 58, 66);
  font-size: 14px;
  list-style: disc outside none;
  display: list-item;
  margin-left: 1rem;
  margin-top: 0;
}

.signup__form a {
  color: var(--blue);
  font-size: 14px;
  margin-top: 0.8rem;
}

@media (prefers-color-scheme: dark) {
  .signup__form a {
    color: #9ac5ff;
  }
}
